$max-width: 1440px;
$max-content-width: 1170px;

// mobile-text 370
//
$nav-height: 74;
$nav-social-height: 44;
$mobile-nav-height: 74;

$container-top-level-spacing: 75px; // vertical spacing
$container-nested-spacing: 30px; // vertical spacing for stacked columns in mobile
$container-gutter: 15px; // horizontal spacing

$ol-ul-padding: 30px;
